# DEV_MODE
APP_ENV = "development"

# APP DATA
APP_NAME=MyApp 
APP_PORT=1323
APP_SECRET=

#DATABASE // Use Driver (POSTGRESQL,SQLITE) and Filename or Credentials. For PG you can use either Credentials or URL
DB_DRIVER=
DB_FILE=
DB_URL=
DB_HOST=
DB_USER=
DB_PASS=
DB_PORT=

# SMTP
SMTP_USER=
SMTP_PASS=
SMTP_HOST=
SMTP_PORT= 

# Shopify API KEY and SECRET
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_API_VERSION="2023-07"

# A list of access scopes can be found [here] 
# https://shopify.dev/api/usage/access-scopes
SHOPIFY_API_SCOPES=read_products,write_products,read_orders,write_pixels,read_product_listings
# Will be updated by "npm run update:env"

SHOPIFY_APP_URL=https://.ngrok-free.app


